<mat-progress-bar *ngIf="!directoryList$" mode="buffer"></mat-progress-bar>

<ng-container *ngIf="directoryList$">
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="big-tile" fxFlex="0 1 40%" fxFlex.lt-sm="100%">
      <h1 class="mat-display-2">Directory</h1>
      <h1 class="mat-headline">
        Browse the directory to find more information about our tenants, contact information included.
      </h1>
    </div>
    <div class="big-tile" fxFlex="0 1 60%" fxFlex.lt-md="100%">
      <img class="image-tile" src="./assets/images/render_005.jpeg">
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="directory-board">
    <h1 class="mat-display-2 directory-board-title">Directory Board:</h1>
    <div class="button-row">
      <button mat-flat-button class="sidenav-jumbo-button" *ngFor="let directory of directoryList$ | async" routerLink="{{directory.route}}">{{ directory.title }}</button>
    </div>
  </div>

<div fxLayout="column" class="directory">
  <div fxFlex="100%">
    <h1 class="mat-display-2">Detailed Directory:</h1>
    <ngx-masonry [options]="{ gutter: 30, itemSelector: '.masonry-item', columnWidth: '.masonry-item', horizontalOrder: true }">
      <div ngxMasonryItem class="masonry-item" *ngFor="let directory of directoryList$ | async">
        <mat-card [routerLink]="[directory.route]" id="{{ directory.title.replace(' ', '_') }}">
            <h1>{{ directory.title }}</h1>
            <h1 class="unit-number">Unit {{ directory.unitNumber }}</h1>
          <img mat-card-image [src]="directory.directoryImage" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>{{ directory.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-fab color="accent" matTooltip="Launch /{{directory.title}}" [matTooltipPosition]="'after'" [routerLink]="directory.router" aria-label="Open Project">
              <mat-icon>touch_app</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ngx-masonry>
  </div>
</div>
</ng-container>
