<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center">
  <div class="big-tile" fxFlex="100%">
    <h1 class="mat-display-2">Get in Touch</h1>
    <h1 class="mat-headline">
      We’d love to show you around the Scottfield Auto Centre.
      Let us know what you’re looking for and we’ll schedule a tour at your convenience.
      For further information, please contact us at:
    </h1>
    <a mat-flat-button color="accent" href="mailto:info@scottfieldautocentre.com?subject=Scottfield Auto Centre General Inquiry">info@scottfieldautocentre.com</a>
    <a mat-flat-button color="accent" href="tel:###-###-####">(###) ###-####‬</a>
  </div>
  <div class="big-tile" fxFlex="100%">
    <h1 class="mat-display-2">Follow us on Social</h1>
    <h1 class="mat-headline">
      We are upping our social game, look for us on your favourite social platform. We are @scottfieldautocentre and our favourite hashtag is #scottauto. We look forward to your posts:
    </h1>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <a href="https://www.instagram.com/" mat-fab color="primary" target="_blank"><mat-icon svgIcon="instagram_brands"></mat-icon></a>
        </div>
        <div class="example-button-container">
          <a href="https://www.facebook.com/" mat-fab color="primary" target="_blank"><mat-icon svgIcon="facebook_brands"></mat-icon></a>
        </div>
        <div class="example-button-container">
          <a href="https://twitter.com/" mat-fab color="primary" target="_blank"><mat-icon svgIcon="twitter_brands"></mat-icon></a>
        </div>
        <div class="example-button-container">
          <a href="https://linkedin.com/" mat-fab color="primary" target="_blank"><mat-icon svgIcon="linkedin_brands"></mat-icon></a>
        </div>
      </div>
    </div>
  </div>
  <div class="big-tile" fxFlex="100%">
    <h1 class="mat-display-2">We're On The Map [Kind Of...]</h1>
    <h1 class="mat-headline">
      Our address exists, but the building is brand spanking new, so it hasn't made it to Google Earth yet. Use the map below to explore the area.
    </h1>
    <div style="height: 85vh;">
      <!-- Dont forget to add Domain reference and API key to Google Cloud for Maps Javascript API-->
      <google-map height="100%" width="100%" [zoom]="map.zoom" [center]="map.center" [options]="map.options">
        <map-marker [position]="marker.position" [label]="marker.label" [title]="marker.title" [options]="marker.options"></map-marker>
      </google-map>
    </div>
  </div>
</div>
