.spacer {
  flex: 1 1 auto;
}

.crai-nav-spacer {
  flex: 1 1 auto;
}

.nav-padding{
  padding: 40px 30px;
}

.crai-nav-button-row {
  display: table-cell;
  width: 480px;
}

.mat-button {
  font-weight: 700;
}

.example-sidenav {
  position: absolute;
  top: -64px;
  z-index: 10;
  width: 100vw;
  height: calc(100vh + 64px);
  display: flex;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
}

.sidenav-jumbo-button {
  height: 90px;
  font-size: 5em;
  font-weight: 700;
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 13px;
  right: 30px;
}
