.crai-nav-spacer {
  flex: 1 1 auto;
}

.nav-padding{
  padding: 30px;
}

.crai-nav-button-row {
  display: table-cell;
  width: 350px;
}

.mat-button {
  font-weight: 700;
}

.example-sidenav {
  position: absolute;
  top: -64px;
  z-index: 10;
  width: 100vw;
  height: calc(100vh + 64px);
  display: flex;
  opacity: 0.95;
  justify-content: center;
  align-items: center;
}

.sidenav-jumbo-button {
  height: 80px;
  font-size: 4em;
  font-weight: 700;
}
