<header>
  <mat-toolbar color="accent" class="mat-elevation-z4 nav-padding">
    <app-logo></app-logo>
    <div fxHide.lt-md class="crai-nav-button-row">
      <a mat-flat-button color="accent" routerLink="/contact">Contact</a>
      <a mat-flat-button color="accent" routerLink="/directory">Directory</a>
      <a mat-flat-button color="accent" routerLink="/about">About</a>
      <a mat-flat-button color="accent" routerLink="/blog">Blog</a>
      <button mat-flat-button color="accent" >
      <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before" (change)="toggleDarkTheme($event.checked)" color="primary">
        {{ themeButtonName }} Mode
      </mat-slide-toggle>
      </button>
    </div>
  </mat-toolbar>
  <div class="menu-button">
    <button mat-fab color="primary" aria-label="Menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

<mat-sidenav #drawer class="example-sidenav" mode="side">
    <app-logo></app-logo>
    <button mat-button class="sidenav-jumbo-button" routerLink="/contact" (click)="drawer.toggle()">Contact</button>
    <mat-divider></mat-divider>
    <button mat-button class="sidenav-jumbo-button" routerLink="/directory" (click)="drawer.toggle()">Directory</button>
    <mat-divider></mat-divider>
    <button mat-button class="sidenav-jumbo-button" routerLink="/about" (click)="drawer.toggle()">About</button>
    <mat-divider></mat-divider>
    <button mat-button class="sidenav-jumbo-button" routerLink="/blog" (click)="drawer.toggle()">Blog</button>
    <mat-divider></mat-divider>
    <button mat-button class="sidenav-jumbo-button" routerLink="/contact" [fragment]='"social"' (click)="drawer.toggle()">Social</button>
    <mat-divider></mat-divider>
    <button (click)="drawer.toggle()" mat-button>
      <mat-icon>close</mat-icon><span>Close</span>
    </button>
    <button mat-flat-button>
    <mat-slide-toggle [checked]="isDarkTheme | async" labelPosition="before" (change)="toggleDarkTheme($event.checked)" color="primary">
      {{ themeButtonName }} Mode
    </mat-slide-toggle>
    </button>
</mat-sidenav>
</header>
