// Styling for logo
@import '~@angular/material/theming';

@mixin logo-theme($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $bg: map-get(map-get($theme, background), background);

    .logo-container {
      color: mat-color($accent);
      padding-right: 30px;
      }

      .logo {
        color: $bg;
        font-weight: 700;
        font-size: 1.5em;
        text-decoration: none;
      }

}
