<h1 class="mat-display-4">Scottfield<br>Auto<br>Centre</h1>

<h2>Get Started</h2>
<mat-list role="list">
  <mat-list-item role="listitem"
    ><code>
      git clone
      git@github.com:mbaljeetsingh/ngscully-netlify-cms-starter.git</code
    ></mat-list-item
  >
  <mat-list-item role="listitem"><code> cd project</code></mat-list-item>
  <mat-list-item role="listitem"><code> npm install</code></mat-list-item>
  <mat-list-item role="listitem"
    ><code> ng build && npm run scully </code></mat-list-item
  >
</mat-list>
