<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start">
  <div fxFlex="100%">
    <img class="cover-image" src="./assets/images/render_009.jpeg">
  </div>
  </div>
<section>
  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="30px grid" fxLayoutAlign="start">
    <div fxFlex="0 1 50%" fxFlex.lt-sm="100%">
      <h1 class="mat-display-2">Units Available</h1>
      <h1 class="mat-headline">
        We’d love to show you around the Scottfield Auto Centre.
        Let us know what you’re looking for and we’ll schedule a tour at your convenience.
        For further information, please contact us at (###) ###-#### or info@scottfieldautocentre.com.
      </h1>
      <a mat-flat-button color="accent" href="mailto:info@scottfieldautocentre.com?subject=Scottfield Auto Centre General Inquiry">toronto@rabaglinoarchitect.com</a>
      <a mat-flat-button color="accent" href="tel:###-###-####">(###) ###-####‬</a>
    </div>
    <div fxFlex="0 1 50%" fxFlex.lt-sm="100%">
      <h1 class="mat-display-2">Units Available</h1>
      <h1 class="mat-headline">
        We’d love to show you around the Scottfield Auto Centre.
        Let us know what you’re looking for and we’ll schedule a tour at your convenience.
        For further information, please contact us at (###) ###-#### or info@scottfieldautocentre.com.
      </h1>
      <a mat-flat-button color="accent" href="mailto:info@scottfieldautocentre.com?subject=Scottfield Auto Centre General Inquiry">toronto@rabaglinoarchitect.com</a>
      <a mat-flat-button color="accent" href="tel:###-###-####">(###) ###-####‬</a>
    </div>
  </div>
</section>
