<div class="cover-div" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center">
  <div fxFlex="100%">
    <img class="cover-image" src="./assets/images/render_009.jpeg">
    <div class="under-construction">
      <mat-icon>construction</mat-icon>
      <h1 class="mat-display-2">Scottfield Auto Centre is currently under construction. We expect to have the place ready by Q4 2021, join us on social for updates.</h1>
    </div>
  </div>
</div>

<section>
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center">
    <div class="big-tile" fxFlex="0 1 45%" fxFlex.lt-sm="100%">
      <h1 class="mat-display-2">Units Available</h1>
      <h1 class="mat-headline">
        We’d love to show you around the Scottfield Auto Centre.
        Let us know what you’re looking for and we’ll schedule a tour at your convenience.
        For further information, please contact us at:
      </h1>
      <a mat-flat-button color="accent" href="mailto:info@scottfieldautocentre.com?subject=Scottfield Auto Centre General Inquiry">toronto@rabaglinoarchitect.com</a>
      <a mat-flat-button color="accent" href="tel:###-###-####">(###) ###-####‬</a>
    </div>
    <div class="big-tile" fxFlex="0 1 55%" fxFlex.lt-md="100%">
      <img class="image-tile" src="./assets/images/render_008.jpeg">
    </div>

    <div class="big-tile" fxFlex="0 1 55%" fxFlex.lt-md="100%">
      <img class="image-tile" src="./assets/images/electric_car_charging.jpeg">
    </div>
    <div class="big-tile" fxFlex="0 1 45%" fxFlex.lt-md="100%">
      <h1 class="mat-display-2">Modern Amenities</h1>
      <h1 class="mat-headline">
        Our building is built with sustainability in mind. Electric car charging, integrated utilities and a rock solid plan to implement a carbon neutral footprint by 2025.
      </h1>
    </div>

    <div class="big-tile" fxFlex="0 1 45%" fxFlex.lt-md="100%">
      <h1 class="mat-display-2">The Right Tools for the Job</h1>
      <h1 class="mat-headline">
        From our friends running the tool truck, to the best in class equipment; we have access to the tools you need to get the job done right. Lifts, air compressors, tool boxes and more are all available from our volume discount program.
      </h1>
      <a mat-flat-button color="accent" href="">Shop Equipment</a>
    </div>
    <div class="big-tile" fxFlex="0 1 55%" fxFlex.lt-md="100%" fxFlexOrder.lt-md="1">
      <img class="image-tile" src="./assets/images/car_on_lift.jpeg">
    </div>

    <div class="big-tile" fxFlex="0 1 55%" fxFlex.lt-md="100%">
      <img class="image-tile" src="./assets/images/working_mechanic.jpeg">
    </div>
    <div class="big-tile" fxFlex="0 1 45%" fxFlex.lt-md="100%">
      <h1 class="mat-display-2">Blazing Fast Internet</h1>
      <h1 class="mat-headline">
        Inbound fibre connectivity is available, making sure you are free to focus on your work. We even have a turn key solution for owners looking to have access to high speed wifi and ethernet.
      </h1>
      <a mat-flat-button color="accent" href="">Shop Internet Upgrades</a>
    </div>
  </div>
</section>
